<%= form_with model: @medicine, class: "row register-form" do |f| %>
  <% if @medicine.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @medicine.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
  </div>
  <div class="mb-3">
    <%= f.text_field :description, class: "form-control", placeholder: "Description" %>
  </div>
  <div class="mb-3">
    <%= f.text_field :price, class: "form-control", placeholder: "Price" %>
  </div>
  <hr>
  <%= f.submit value: button_label, class: "btn btn-primary" %>
<% end %>
