<%- paths = [medicines_path] %>
<%= render "layouts/header" %>
<%= render "layouts/breadcrumb", paths: paths %>
<%= render "layouts/searchbar", paths: paths, placeholder: "Search medicine" %>
<%= render "new_modal" %>

<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  New Medicine
</button>

<%= render "medicines" %>
