<%= render "layouts/header" %>

<div class="box mt-5">
  <h4 class="title">
    <%= @medicine.name %>
  </h4>
  <span class="title">
    <%= "Price: #{@medicine.price}" %>
  </span>
  <p><%= @medicine.description %></p>
  <%= link_to "Delete", 
      @medicine, 
      method: :delete, 
      data: { 
        confirm: "Are you sure you want to delete #{@medicine.name}?" 
      } 
  %>
</div>
