<% @doctors.each do |doctor| %>
  <li class="doctor-item box">
    <h2><%= doctor.fullname %></h2>
    <p><%= doctor.phone_no %></p>
    <p><%= doctor.specialization.name %></p>
    <%= 
      link_to "more info", 
      doctor_path(doctor), 
      class: "btn btn-info" 
    %>
    <br/>
    <%= 
      link_to "prescriptions", 
      doctor_prescriptions_path(doctor), 
      class: "btn btn-info" 
    %>
  </li>
<% end %>
