<% @doctors.each do |doctor| %>
  <tr>
    <th scope="row">
      <%= doctor.id %>
    </th>
    <th>
      <%= link_to doctor.fullname, doctor_path(doctor) %>
    </th>
    <td>
      <%= doctor.age %>
    </td>
    <td>
      <%= doctor.phone_no %>
    </td>
    <td>
      <%= doctor.email %>
    </td>
    <td>
      <%= doctor.license_no %>
    </td>
    <td>
      <%= doctor.specialization.name %>
    </td>
  </tr>
<% end %>
